/*** GENERAL ***/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*** FONT ***/
body {
    font-family: Lato, Arial, sans-serif;
    font-size: 1.2em;
}

a {
    color: rgb(248, 248, 248);
    text-decoration: none;
}

/*** NAVIGATION ***/
.navbar {
    background-color: rgb(83, 139, 111);
    padding: 0 15px;
}

.nav_menu, .submenu {
    list-style-type: none;
}

.logo {
    font-size: 1.5em;
    padding: 7px 10px 7px 0;
}

.nav_item {
    padding: 10px;
}

/* MOBILE MENU */
.nav_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav_menu li a {
    display: block;
    padding: 15px 5px;
}

.submenu li.subitem a {
    padding: 15px;
}

.nav_toggle {
    order: 1;
    font-size: 1.5em;
}

.nav_item {
    order:2;
    width: 100%;
    text-align: center;
    display: none; /*hide menu items */
}

/* show menu items in combination with js */
.active .nav_item {
    display: block;
}

/* Submenu style */

.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background: rgb(65, 115, 90);
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .nav_menu {
        justify-content: center;
    }
    
    .logo {
        flex: 1;
        font-size: 1.8em;
    }

    .nav_toggle {
        flex: 1;
        text-align: right;
        font-size: 2em;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .nav_item {
        order 1;
        position: relative;
        display: block;
        width: auto;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        width: 100%;
        background-color: rgb(65, 115, 90);
    }

    .nav_toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0px;
    }
}